.btn {
	display: inline-block;
	background-color: $main-blue;
	padding: 10px;
	color: $light;
	&:hover {
		color: $light;
	}
}

.loading {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $main-blue;
	opacity: 0.5;
}
